services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  NITSAN\NsWpMigration\:
    resource: '../Classes/*'
    
  NITSAN\NsWpMigration\Controller\PostController:
    public: true
    arguments:
      $pageRepository: '@TYPO3\CMS\Core\Domain\Repository\PageRepository'
      $contentRepository: '@NITSAN\NsWpMigration\Domain\Repository\ContentRepository'
      $logManageRepository: '@NITSAN\NsWpMigration\Domain\Repository\LogManageRepository'
      $backendUserRepository: '@TYPO3\CMS\Beuser\Domain\Repository\BackendUserRepository'
      $uriBuilder: '@TYPO3\CMS\Extbase\Mvc\Web\Routing\UriBuilder'
      $moduleTemplateFactory: '@TYPO3\CMS\Backend\Template\ModuleTemplateFactory'